@page
@using Shop.Application.Contracts.Persistance
@model Shop.Web.Pages.Admin.Setting.SectionsModel
@{
    Layout = "Shared/Admin_Layout";
}
@inject ICateguryRepository _CateguryRep;
@inject ISectionTypeRepository _sectionTypeRep;
@{
    var categuries =await _CateguryRep.GetAll();
    var sectionTypes =await _sectionTypeRep.GetAll();
}


<div class="row">
    <div class="col-lg-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        صفحه اصلی فروشگاه
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box ">
                    <button onclick="SectionCreate()" class="btn btn-sm btn-success btn-round hover-green">
                        <i class="icon-plus"></i>
                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                    </button>
                    

                </div>
            </div><!-- /.portlet-heading -->
            <div class="portlet-body" style="">

                <div class="row" >
                    @foreach (var item in Model.List)
                    {
                        <div class="col-lg-12">
                            <div class="portlet box border shadow">
                                <div class="portlet-heading">
                                    <div class="portlet-title">
                                        <h3 class="title">
                                            @item.SectionName 
                                        </h3>
                                    </div>
                                    <div class="buttons-box ">
                                        <button onclick="SectionDetailCreate(@item.Id)" class="btn btn-sm btn-success btn-round hover-green">
                                            <i class="icon-plus"></i>
                                            <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                                        </button>
                                        <button onclick="SectionGetSubmit(@item.Id)" class="btn btn-sm btn-success btn-round hover-orange">
                                            <i class="icon-pencil"></i>
                                            <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                                        </button>
                                        <button onclick="SectionDelete(@item.Id)" class="btn btn-sm btn-success btn-round hover-red">
                                            <i class="icon-trash"></i>
                                            <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                                        </button>

                                    </div>
                                </div>
                                <div class="portlet-body">

                                    @foreach (var itemDetail in item.SectionDetails)
                                    {
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>زیر مجموعه</th>

                                                        <th>عملیات</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                        <td>@itemDetail.Caption</td>

                                                        <td>
                                                            <button class="btn btn-warning round" onclick="SectionDetailGetSubmit(@itemDetail.Id)">ویرایش</button>
                                                            <button class="btn btn-danger round" onclick="SectionDetailDelete(@itemDetail.Id)">حذف</button>

                                                        </td>

                                                    </tr>



                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->


    </div>
</div>


<div id="CreateSectionModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن قسمت اصلی</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        
                    </div>
                    <div class="col-lg-12">
                        <form method="post" asp-page-handler="CreateUpdateSection" class="form-horizontal" role="form" enctype="multipart/form-data"
                              data-ajax="true"
                              data-ajax-method="POST"
                              data-ajax-begin="OnLoadingSectionCU"
                              data-ajax-complete="OnCompleteSectionCU"
                              data-ajax-failure="OnErrorSectionCU">


                            <input type="hidden" asp-for="SectionId" class="Section_Id" />
                            <input type="hidden" asp-for="Section.Id" class="Section_Id" />
                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>نام قسمت</label>
                                <div class="form-group round">
                                    <input asp-for="Section.SectionName" id="Section_SectionName" type="text" class="form-control">
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->

                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>الویت نمایش</label>
                                <div class="form-group round">
                                    <select asp-for="Section.Sort" id="Section_Sort" type="number" class="form-control">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                    </select>
                                    @*<input asp-for="Section.Sort" id="Section_Sort" type="text" class="form-control">*@
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->
                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>اختصاص شناسه محصول به قسمت</label>
                                <div class="form-group round">
                                    <input asp-for="Section.ProductId" id="Section_ProductId" type="text" class="form-control">
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->
                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>اختصاص دسته بندی به قسمت</label>
                                <div class="form-group round">
                                    <select asp-for="Section.CateguryId" id="Section_CateguryId" type="text" class="form-control">
                                        @foreach (var cat in categuries)
                                        {
                                            <option value=@cat.GroupId>@cat.GroupTitle</option>
                                        }
                                    </select>
                                    @*<input asp-for="Section.CateguryId" id="Section_CateguryId" type="text" class="form-control">*@
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->

                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>استایل قسمت</label>
                                <div class="form-group round">
                                    <select asp-for="Section.SectionTypeId" id="Section_SectionTypeId" type="text" class="form-control">
                                        @foreach (var type in sectionTypes)
                                        {
                                            <option value=@type.Id>@type.Type</option>
                                        }
                                    </select>
                                   

                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->
                            <div class="col-md-8 col-lg-6 m-auto m-b-50">

                                <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                    ثبت
                                    <div class="paper-ripple">
                                        <div class="paper-ripple__background"></div>
                                        <div class="paper-ripple__waves"></div>
                                    </div>
                                </button>
                            </div><!-- /.col-md-8 -->
                        </form>
                    </div><!-- /col-lg-12 -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<div id="CreateSectionDetailModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن زیرمجموعه </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-center m-t-30 m-b-40" id="image">

                        </p>
                    </div>
                    <div class="col-lg-12">
                        <form method="post" asp-page-handler="CreateUpdateSectionDetail" class="form-horizontal" role="form" enctype="multipart/form-data"
                              data-ajax="true"
                              data-ajax-method="POST"
                              data-ajax-begin="OnLoadingSectionDetailCU"
                              data-ajax-complete="OnCompleteSectionDetailCU"
                              data-ajax-failure="OnErrorSectionDetailCU">

                            <input type="hidden" asp-for="SectionDeatilId" class="SectionDetail_Id" />
                            <input type="hidden" asp-for="SectionDetail.Id" class="SectionDetail_Id" />
                            @*<input type="hidden" asp-for="SectionDetail.Image" id="SectionDetail_Image" />*@
                            <input type="hidden" asp-for="SectionDetail.SectionId" id="SectionDetail_SectionId" />
                            <input type="hidden" asp-for="SectionId" class="Section_Id" />

                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label> عنوان</label>
                                <div class="form-group round">
                                    <input asp-for="SectionDetail.Caption" id="SectionDetail_Caption" type="text" class="form-control">
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->

                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>زیر عنوان</label>
                                <div class="form-group round">
                                    <input asp-for="SectionDetail.SubCaption" id="SectionDetail_SubCaption" type="text" class="form-control">
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 --> 
                            
                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>عنوان اسلایدر</label>
                                <div class="form-group round">
                                    <input asp-for="SectionDetail.SlideNavName" id="SectionDetail_SlideNavName" type="text" class="form-control">
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->

                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>اختصاص دسته بندی</label>
                                <div class="form-group round">
                                    <select asp-for="SectionDetail.CateguryId" id="SectionDetail_CateguryId" type="text" class="form-control">
                                        @foreach (var cat in categuries)
                                        {
                                            <option value=@cat.GroupId>@cat.GroupTitle</option>
                                        }
                                    </select>
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->
                            
                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>استایل قسمت</label>
                                <div class="form-group round">
                                    <select asp-for="SectionDetail.SectionTypeId" id="SectionDetail_SectionTypeId" type="text" class="form-control">
                                        @foreach (var type in sectionTypes)
                                        {
                                            <option value=@type.Id>@type.Type</option>
                                        }
                                    </select>
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->


                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>لینک</label>
                                <div class="form-group round">
                                    <input asp-for="SectionDetail.Link" id="SectionDetail_Link" type="text" class="form-control" />
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->

                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>ابعاد ریسپانسیو</label>
                                <div class="form-group round">
                                    <select asp-for="SectionDetail.ResponsiveSize" id="SectionDetail_ResponsiveSize" type="text" class="form-control">
                                      
                                            <option value="Desktop">سایز استاندارد (Desktop)</option>
                                            <option value="Mobile">ابعاد موبایل (Mobile)</option>
                                        
                                    </select>
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->
                            
                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>تعداد ستون</label>
                                <div class="form-group round">
                                    <select asp-for="SectionDetail.ColSpace" id="SectionDetail_ColSpace" type="text" class="form-control">
                                      
                                            <option value="1">1 ستون</option>
                                            <option value="2">2 ستون</option>
                                            <option value="3">3 ستون</option>
                                            <option value="4">4 ستون</option>
                                            <option value="5">5 ستون</option>
                                            <option value="6">6 ستون</option>
                                            <option value="7">7 ستون</option>
                                            <option value="8">8 ستون</option>
                                            <option value="9">9 ستون</option>
                                            <option value="10">10 ستون</option>
                                            <option value="11">11 ستون</option>
                                            <option value="12">12 ستون</option>
                                            
                                    </select>
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->

                            <!-- /.col-md-8 -->
                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <div class="form-group relative">
                                    <input asp-for="SectionDetail.BackgroundImageFile" id="SectionDetail.BackgroundImageFile" type="file" class="form-control">
                                    <label>تصویر پس زمینه  </label>
                                    <div class="input-group round">
                                        <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info">
                                                <i class="icon-picture"></i>
                                                آپلود عکس
                                                <div class="paper-ripple">
                                                    <div class="paper-ripple__background"></div>
                                                    <div class="paper-ripple__waves"></div>
                                                </div>
                                            </button>
                                        </span>
                                    </div><!-- /.input-group -->
                                    <div class="help-block"></div>
                                </div><!-- /.form-group -->
                                <label>شرح تصویر</label>
                                <input asp-for="SectionDetail.BackgroundImage" id="SectionDetail_BackgroundImage" type="text" class="form-control">
                            </div><!-- /.col-md-8 -->
                            <!-- /.col-md-8 -->
                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>رنگ پس زمینه(کد رنگ را وارد نمایید)</label>
                                <div class="form-group round">
                                    <input asp-for="SectionDetail.BackgroundColor" id="SectionDetail_BackgroundColor" type="text" class="form-control">

                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->
                           
                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <div class="form-group relative">
                                    <input asp-for="SectionDetail.ImageFile" id="SectionDetail.ImageFile" type="file" class="form-control">
                                    <label>تصویر  </label>
                                    <div class="input-group round">
                                        <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info">
                                                <i class="icon-picture"></i>
                                                آپلود عکس
                                                <div class="paper-ripple">
                                                    <div class="paper-ripple__background"></div>
                                                    <div class="paper-ripple__waves"></div>
                                                </div>
                                            </button>
                                        </span>
                                    </div><!-- /.input-group -->
                                    <div class="help-block"></div>
                                </div><!-- /.form-group -->
                                <label>شرح تصویر</label>
                                <input asp-for="SectionDetail.Image" id="SectionDetail_Image" type="text" class="form-control">
                            </div><!-- /.col-md-8 -->
                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>لینک و یا آیکن تصویر</label>
                                <div class="form-group round">
                                    <input asp-for="SectionDetail.Image" id="SectionDetail_Image" type="text" class="form-control">

                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->
                            <!-- /.col-md-8 -->
                            <div class="col-md-8 col-lg-6 m-auto m-b-10">
                                <label>متن جایگزین تصویر</label>
                                <div class="form-group round">
                                    <input asp-for="SectionDetail.Alt" id="SectionDetail_Alt" type="text" class="form-control">
                                    
                                </div><!-- /.input-group -->
                            </div><!-- /.col-md-8 -->
                            <div class="col-md-8 col-lg-6 m-auto m-b-50">

                                <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                    ثبت
                                    <div class="paper-ripple">
                                        <div class="paper-ripple__background"></div>
                                        <div class="paper-ripple__waves"></div>
                                    </div>
                                </button>
                            </div><!-- /.col-md-8 -->
                        </form>
                    </div><!-- /col-lg-12 -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>


<form method="post" id="SectionForm" asp-page-handler="Section" class="form-horizontal" role="form" enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingSection"
      data-ajax-complete="OnCompleteSection"
      data-ajax-failure="OnErrorSection">
    <input type="hidden" asp-for="SectionId" class="Section_Id" />
</form>

<form method="post" id="SectionDetailForm" asp-page-handler="SectionDetail" class="form-horizontal" role="form" enctype="multipart/form-data"
        data-ajax="true"
        data-ajax-method="POST"
        data-ajax-begin="OnLoadingSectionDetail"
      data-ajax-complete="OnCompleteSectionDetail"
      data-ajax-failure="OnErrorSectionDetail">
    <input type="hidden" asp-for="SectionDeatilId" class="SectionDetail_Id" />
</form>


<div id="DeleteSectionModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">حذف قسمت اصلی</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-center m-t-30 m-b-40">
                            آیا از حذف این آیتم مطمئن هستید؟
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <form method="post" asp-page-handler="DeleteSection" class="form-horizontal" role="form" enctype="multipart/form-data"
                              data-ajax="true"
                              data-ajax-method="POST"
                              data-ajax-begin="OnLoadingSectionDelete"
                              data-ajax-complete="OnCompleteSectionDelete"
                              data-ajax-failure="OnErrorSectionDelete">
                            <input type="hidden" asp-for="SectionId" class="Section_Id" />

                            <div class="col-md-8 col-lg-6 m-auto m-b-50">

                                <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                    ثبت
                                    <div class="paper-ripple">
                                        <div class="paper-ripple__background"></div>
                                        <div class="paper-ripple__waves"></div>
                                    </div>
                                </button>
                            </div><!-- /.col-md-8 -->
                        </form>
                    </div><!-- /col-lg-12 -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<div id="DeleteSectionDetailModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">حذف زیرمجموعه </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-center m-t-30 m-b-40">
                            آیا از حذف این آیتم مطمئن هستید؟
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <form method="post" asp-page-handler="DeleteSectionDetail" class="form-horizontal" role="form" enctype="multipart/form-data"
                              data-ajax="true"
                              data-ajax-method="POST"
                              data-ajax-begin="OnLoadingSectionDetailDelete"
                              data-ajax-complete="OnCompleteSectionDetailDelete"
                              data-ajax-failure="OnErrorSectionDetailDelete">
                            <input type="hidden" asp-for="SectionDeatilId" class="SectionDetail_Id" />

                            <div class="col-md-8 col-lg-6 m-auto m-b-50">

                                <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                    ثبت
                                    <div class="paper-ripple">
                                        <div class="paper-ripple__background"></div>
                                        <div class="paper-ripple__waves"></div>
                                    </div>
                                </button>
                            </div><!-- /.col-md-8 -->
                        </form>
                    </div><!-- /col-lg-12 -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Shared/Lib/Shared/Toast/Toast.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Shared/Lib/Shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    
    <script src="~/Shared/Lib/Shared/Toast/Toast.js"></script>
    <script src="~/Shared/lib/Shared/Soast/MyToast.js"></script>

    <script src="~/Shared/Lib/Admin/Setting/Section/Base.js"></script>
    <script src="~/Shared/Lib/Admin/Setting/Section/Get.js"></script>
    <script src="~/Shared/Lib/Admin/Setting/Section/CreateAdnUpdate.js"></script>
    <script src="~/Shared/Lib/Admin/Setting/Section/Delete.js"></script>
}