@model Parstech.Shop.Web.ViewComponents.SliderViewModel

<!-- Desktop Slider Section -->
<div class="mb-8 DesktopnSlide">
    <div class="container SlideShow">
        <div class="overflow-hidden">
            <div>
                <div id="thumbProgress" class="js-slick-carousel u-slick"
                     data-autoplay="false"
                     data-nav-for="#thumbProgressNav">
                    @foreach (var item in Model.Desktop)
                    {
                        <div class="js-slide">
                            <div class="bg-img-hero min-height-420"
                                 style="background-image: url(/shared/images/@item.BackgroundImage);">
                                <div class="row height-410-xl mx-0 align-items-center">
                                    <div class="col-md-6 mt-6 mt-md-0 mb-4 mb-md-0">
                                        <div class="ml-xl-8">

                                            <h1 class="font-size-sl-50 font-weight-bold text-lh-1 font-weight-light mb-2 mb-lg-3 mb-wd-4"
                                                data-scs-animation-delay="100"
                                                data-scs-animation-in="fadeInUp">
                                                @item.Caption
                                            </h1>
                                            <h3 class="font-size-xl-15 font-weight-bold mb-0"
                                                data-scs-animation-in="fadeInUp"
                                                data-scs-animation-delay="200">
                                                @item.SubCaption
                                            </h3>
                                        </div>
                                    </div>
                                    @if (item.Image != null)
                                    {
                                        <div class="col-md-6 d-flex align-items-center ml-auto ml-md-0 mb-4 mb-md-0"
                                             data-scs-animation-in="zoomIn"
                                             data-scs-animation-delay="400">
                                            <img class="img-fluid" src="~/shared/images/@item.Image" alt="@item.Alt">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div id="thumbProgressNav"
                 class="js-slick-carousel u-slick u-slick--transform-off u-slick-thumb-progress__custom mx-xl-3 text-center font-size-13"
                 data-autoplay="false"
                 data-pagi-classes="d-md-none text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-4"
                 data-slides-show="5"
                 data-is-thumbs="true"
                 data-is-thumbs-progress="false"
                 data-thumbs-progress-container=".js-slick-thumb-progress"
                 data-nav-for="#thumbProgress">
                @foreach (var item in Model.Desktop)
                {
                    <div class="js-slide">
                        <a class="js-slick-thumb-progress" href="javascript:;">
                            @item.SlideNavName
                        </a>
                    </div>
                }


            </div>
        </div>
    </div>
</div>
<!--Desktop  End Slider Section -->

<!-- Mobile Slider Section -->
<div class="mb-8 MobileSlide">
    <div class="container SlideShow">
        <div class="overflow-hidden">
            <div>
                <div id="thumbProgress" class="js-slick-carousel u-slick"
                     data-autoplay="false"
                     data-nav-for="#thumbProgressNav" style="height: 220px;">
                    @foreach (var item in Model.Mobile)
                    {
                        <div class="js-slide">
                            <div class="bg-img-hero min-height-280"
                                 style="background-image: url(/shared/images/@item.BackgroundImage);height:100%">
                                <div class="row height-410-xl mx-0 align-items-center">
                                    <div class="col-md-6 mt-6 mt-md-0 mb-4 mb-md-0">
                                        <div class="ml-xl-8">

                                            <h2 class="text-center font-size-sl-50 font-weight-bold text-lh-1 font-weight-light mb-2 mb-lg-3 mb-wd-4"
                                                data-scs-animation-delay="100"
                                                data-scs-animation-in="fadeInUp">
                                                @item.Caption
                                            </h2>
                                            <h3 class="text-center font-size-xl-15 font-weight-bold mb-0"
                                                data-scs-animation-in="fadeInUp"
                                                data-scs-animation-delay="200">
                                                @item.SubCaption
                                            </h3>
                                        </div>
                                    </div>
                                    @if (item.Image != null)
                                    {
                                        <div class="col-md-6 d-flex align-items-center ml-auto ml-md-0 mb-4 mb-md-0"
                                             data-scs-animation-in="zoomIn"
                                             data-scs-animation-delay="400">
                                            <img class="img-fluid" src="~/shared/images/@item.Image" alt="@item.Alt">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div id="thumbProgressNav"
                 class="js-slick-carousel u-slick u-slick--transform-off u-slick-thumb-progress__custom mx-xl-3 text-center font-size-13"
                 data-autoplay="false"
                 data-pagi-classes="d-md-none text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-4"
                 data-slides-show="5"
                 data-is-thumbs="true"
                 data-is-thumbs-progress="false"
                 data-thumbs-progress-container=".js-slick-thumb-progress"
                 data-nav-for="#thumbProgress">
                @foreach (var item in Model.Mobile)
                {
                    <div class="js-slide">
                        <a class="js-slick-thumb-progress" href="javascript:;">
                            @item.SlideNavName
                        </a>
                    </div>
                }


            </div>
        </div>
    </div>
</div>
<!-- Mobile End Slider Section -->



