@page
@model Shop.Web.Pages.Admin.Products.Detail.EditContentModel
@{
    Layout = null;
}


<input type="hidden" id="productId" value="@Model.productId" />

<div class="portlet box border shadow">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h3 class="title">
                <i class="icon-picture Orange"></i>
                گالری محصول
            </h3>
            <div class="buttons-box" >
                @if(Model.productId!=0){
                    <button class='btn btn-sm btn-success btn-round hover-green'  data-bs-toggle='modal' data-bs-target='#GalleryModal'><i class='icon-plus'></i></button>
                    @* <button class='btn btn-sm btn-success btn-round  hover-green' style="width: 115px;"  data-bs-toggle='modal' data-bs-target='#GalleryMultipleModal'>افزودن چند تصویر</button> *@
                }
                else{
                    <small class='Orange font-weight-bold'>ذخیره محصول الزامیست</small>
                }
            </div>
        </div>

    </div>
    <div class="portlet-body">
        <div class="portlet-body">
            <div class="row" >
                @foreach (var item in Model.GalleryDtos)
                {

                    <div class='col-md-2 col-sm-6 m-1 w-15'>
                        <div class='effect sides-effect'>
                            <a href='#'>
                                <img src="/Shared/Images/Products/@item.ImageName" class='img-center w-10' alt=''>
                                <div class='absolute'>
                                    <h2>@item.Alt</h2>

                                </div>
                            </a>
                        </div>
                        @if (item.IsMain)
                        {
                            <button disabled class='btn btn-default w-100 btn-round font-weight-bold font-size-10 mb-2'>تصویر اصلی </button>
                        }
                        else
                        {
                            <button onclick="ChangeMain(@item.Id)" class="btn BgYellow w-100 btn-round font-weight-bold text-white mb-2">تصویر اصلی شود</button>

                        }

                        <button onclick='DeleteGalleryShowModal(@item.Id)' class='btn btn-red w-100 btn-round font-weight-bold text-white'>حذف تصویر</button>
                    </div>
                }
            </div>
        </div>

    </div>
</div>





<!--Start Gallery -->
<div id="GalleryModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن تصویر محصول</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="AddGallery" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-begin="OnLoadingGallery"
                          data-ajax-complete="OnCompleteGallery"
                          data-ajax-failure="OnErrorGallery">
                        <input type="hidden" asp-for="Gallery.ProductId" value="@Model.productId" />

                        <div class="form-group relative">
                            <input type="file" class="form-control" data-val="true" data-val-required="The LogoFile field is required." asp-for="Gallery.File" id="Gallery_File">
                            <label>تصویر محصول</label>
                            <div class="input-group round">
                                <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info">
                                        <i class="icon-picture"></i>
                                        آپلود عکس
                                        <div class="paper-ripple">
                                            <div class="paper-ripple__background"></div>
                                            <div class="paper-ripple__waves"></div>
                                        </div>
                                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                                    </button>
                                </span>
                            </div><!-- /.input-group -->
                            <div class="help-block"></div>
                        </div>

                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label> متن جایگزین تصویر</label>
                            <div class="form-group round">
                                <input asp-for="Gallery.Alt" id="Gallery_Alt" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 m-auto m-b-10">

                            <div class="form-group round">
                                <label for="Gallery_IsMain">به عنوان تصویر اصلی محصول در نظر گرفته شود؟</label>
                                <input asp-for="Gallery.IsMain" id="Gallery_IsMain" type="checkbox">
                            </div>
                        </div>

                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                ثبت
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<div id="GalleryDeleteModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">حذف تصویر محصول</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="DeleteGallery" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-begin="OnLoadingGallery"
                          data-ajax-complete="OnCompleteGallery"
                          data-ajax-failure="OnErrorGallery">
                        <input type="hidden" asp-for="Gallery.ProductId" value="@Model.productId" />
                        <input type="hidden" asp-for="GalleryId" class="GalleryId" />

                        <div class="form-group relative">
                            <h5>آیا از حذف تصویر محصول مورد نظر مطمئن هستید؟</h5>
                        </div>


                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-danger btn-round btn-block mb-2">
                                حذف گردد
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<!--End Gallery -->

<!--Multiple-->
<div id="GalleryMultipleModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن تصویر محصول</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="AddMultipleGallery" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-begin="OnLoadingGallery"
                          data-ajax-complete="OnCompleteGallery"
                          data-ajax-failure="OnErrorGallery">
                        <input type="hidden" asp-for="Gallery.ProductId" value="@Model.productId" />

                        <div class="form-group relative">
                            <input type="file" class="form-control" data-val="true" data-val-required="The LogoFile field is required." id="files" name="Files"  multiple>
                            <label>تصویر محصول</label>
                            <div class="input-group round">
                                <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info">
                                        <i class="icon-picture"></i>
                                        آپلود عکس
                                        <div class="paper-ripple">
                                            <div class="paper-ripple__background"></div>
                                            <div class="paper-ripple__waves"></div>
                                        </div>
                                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                                    </button>
                                </span>
                            </div><!-- /.input-group -->
                            <div class="help-block"></div>
                        </div>

                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                ثبت
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<!--Multiple-->
<form method="post" id="ChangeMainGallery" asp-page-handler="ChangeMainGallery"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="OnCompleteChangeMain">

    <input type="hidden" asp-for="GalleryId" class="GalleryId" />
    <input type="hidden" asp-for="productId" value="@Model.productId" />

</form>
