@model Shop.Application.DTOs.Section.SectionAndDetailsDto
<div class="mb-6">
    <div class="row">
        @foreach (var item in Model.SectionDetails)
        {
            @switch (item.SectionTypeId)
            {
                case 601:
                    <div class="col-lg-8 mb-5">
                        <div class="banner bg-gray-17">
                            <a href="@item.Link" class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="ml-md-7 mt-6 mt-md-0 ml-4 text-gray-90">
                                        <h2 class="font-size-28 font-size-20-lg max-width-270 text-lh-1dot2">@item.Caption</h2>
                                        <p class="font-size-18 font-size-14-lg text-gray-90 font-weight-light">@item.SubCaption</p>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img class="img-fluid" src="~/Shared/Images/@item.Image" alt="@item.Alt">
                                </div>
                            </a>
                        </div>
                    </div>
                    break;
                case 602:
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="h-100">
                            <a href="@item.Link" class="banner d-block"><img class="img-fluid" src="~/Shared/Images/@item.BackgroundImage" alt="@item.Alt"></a>
                        </div>
                    </div>
                    break
                    ;
               
            }
        }

        
       
        
        
    </div>
</div>