@page
@model Shop.Web.Pages.Admin.Finanical.IndexModel
@{
    Layout = "Shared/Admin_Layout";
}
<div class="row">
    <div class="col-lg-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        <i class="icon-settings"></i>
                        لیست حساب کاربران
                    </h3>
                    <button class="btn btn-sm btn-success btn-round hover-green" onclick="CleanItem()" data-bs-toggle="modal" data-bs-target="#RegistrationFecilitiesModal">
                        ثبت تسهیلات توسط اکسل
                    </button>
                    <button class="btn btn-sm btn-success btn-round hover-blue" onclick="CleanItem()" data-bs-toggle="modal" data-bs-target="#PaymentFecilitiesModal">
                        تسویه اقساط توسط اکسل
                    </button>
                </div>
                <div class="buttons-box">
                    <button class="btn btn-sm btn-success btn-round hover-green" onclick="CleanItem()" data-bs-toggle="modal" data-bs-target="#AddOrEditCateguryModal">
                        <i class="icon-plus"></i>
                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                        <div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0.0088;"></div><div class="paper-ripple__waves"></div></div>
                    </button>


                </div>
                <div id="CreateUser" class="modal fade" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                <h4 class="modal-title">افزودن کیف پول</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="text-center m-t-30 m-b-40" id="image">

                                        </p>
                                    </div>

                                    <div class="col-lg-12">
                                    </div><!-- /col-lg-12 -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="">
                <div class="d-flex mb-2" id="pagingHeader">
                </div>
                <div class="table-responsive">

                    <div class="form-group">
                        <label>فیلتر کاربر</label>
                        <select id="FilterInput" class="form-control select2">
                            <option value="">انتخاب نشده</option>
                            @foreach (var item in Model.UserFilterDtos)
                            {
                                <option value=@item.Id>@item.UserName | @item.FirstName @item.LastName | @item.EconomicCode | @item.NationalCode | @item.Mobile</option>
                            }
                        </select>
                        <button onclick="Filter()" class="btn btn-blue text-white font-weight-bold">فیلتر</button>


                    </div>
                    @* <div class="form-group d-flex">

                        <input id="FilterInput" type="text" class="form-control w-50" placeholder="جستجوی کیف پول" />
                        <button onclick="Filter()" class="btn btn-blue text-white font-weight-bold">فیلتر</button>

                        <select class="form-control w-25" placeholder="جستجوی کاربران">
                        </select>
                        <button class="btn btn-orange text-white font-weight-bold">فیلتر دسترسی ها</button>
                    </div> *@
                    <table class="table table-bordered table-hover table-striped" id="data-table">

                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>

                        </tbody>

                    </table>

                </div>
                <div class="d-flex mb-2" id="paging">
                </div>
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->


    </div>
</div>
<!--FORMS-->
<form method="post" id="GetDataForm" asp-page-handler="Data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingData"
      data-ajax-complete="OnCompleteData"
      data-ajax-failure="OnErrorData">
    <input type="hidden" asp-for="Parameter.UserId" id="Parameter_UserId" />
    <input type="hidden" asp-for="Parameter.CurrentPage" id="Parameter_CurrentPage" />
</form>
<form method="post" id="DataTransactionsForm" asp-page-handler="DataTransactions"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingDataTransactions"
      data-ajax-complete="OnCompleteDataTransactions"
      data-ajax-failure="OnErrorDataTransactions">
    <input type="hidden" asp-for="WTParameter.Filter" id="WTParameter_Filter" />
    <input type="hidden" asp-for="WTParameter.CurrentPage" id="WTParameter_CurrentPage" />
    <input type="hidden" asp-for="walletType" id="walletType" />
    <input type="hidden" asp-for="walletId" class="walletId" />
</form>
<form method="post" id="BlockOrUnblockForm" asp-page-handler="BlockOrUnblock"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingBlockOrUnblock"
      data-ajax-complete="OnCompleteBlockOrUnblock"
      data-ajax-failure="OnErrorBlockOrUnblock">
    <input type="hidden" asp-for="block" id="Block" />
    <input type="hidden" asp-for="walletId" class="walletId" />
</form>
<form method="post" id="TransactionDetail" asp-page-handler="TransactionDetail" class="form-horizontal" role="form" enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingTransactionDetail"
      data-ajax-complete="OnCompleteTransactionDetail"
      data-ajax-failure="OnErrorTransactionDetail">
    <input type="hidden" asp-for="transactionId" id="transactionId" />
</form>


<!--modal-->
<!--Tarakoneshat -->
<div id="TransactionModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">لیست تراکنشات</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="portlet-body" style="">
                        <div class="d-flex mb-2" id="WTpagingHeader">
                        </div>
                        <div class="table-responsive">
                            <div class="form-group d-flex">

                                @*<input id="TFilterInput" type="text" class="form-control w-50" placeholder="جستجوی تراکنش" />
                                <button onclick="TFilter()" class="btn btn-blue text-white font-weight-bold">فیلتر</button>
                                *@
                                @*<select class="form-control w-25" placeholder="جستجوی کاربران">
                                </select>
                                <button class="btn btn-orange text-white font-weight-bold">فیلتر دسترسی ها</button>*@
                            </div>
                            <table class="table table-bordered table-hover table-striped" id="Tdata-table">

                                <thead>
                                    <tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    </tr>

                                </tbody>

                            </table>

                        </div>
                        <div class="d-flex mb-2" id="WTpaging">
                        </div>
                    </div><!-- /.portlet-body -->
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<!--End Tarakoneshat -->
<!--Start Fecilities-->
<div id="FecilitiesModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">ثبت تسهیلات جدید</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="CreateTransaction" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-begin="OnLoadingFecilities"
                          data-ajax-complete="OnCompleteFecilities">

                        <input type="hidden" asp-for="Transaction.WalletId" class="walletId" />







                        <div class="row">
                            <div class="col-12  m-auto m-b-10">
                                <label>مبلغ تسهیلات(تومان):</label>
                                <div class="form-group round m-auto">
                                    <input asp-for="Transaction.InputPrice" type="text" class="form-control" onkeyup="javascript:this.value=itpro(this.value);">
                                </div>
                            </div>
                            <div class="col-6  m-auto m-b-10">
                                <label>نوع اعتبار:</label>
                                <div class="form-group round m-auto">
                                    <select asp-for="Transaction.Type" id="" type="text" class="has-persian-datepicker form-control">
                                        <option value="Fecilities">تسهیلات عادی</option>
                                        <option value="OrgCredit">اعتبار سازمانی</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6  m-auto m-b-10">
                                <label>نوع تراکنش:</label>
                                <div class="form-group round m-auto">
                                    <select asp-for="Transaction.TypeId" id="" type="text" class="has-persian-datepicker form-control">
                                        <option value=1>واریز</option>
                                        <option value=2>برداشت</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-6  m-auto m-b-10">

                                <label>نرخ سود:</label>
                                <div class="form-group round m-auto">
                                    <input asp-for="Transaction.Persent" id="" type="number" class="form-control">
                                </div>

                            </div>


                            <div class="col-6  m-auto m-b-10">
                                <label>تعداد اقساط:</label>
                                <div class="form-group round m-auto">
                                    <input asp-for="Transaction.Month" id="" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-6  m-auto m-b-10">
                                <label>تسهیلات فعال جهت استفاده مشتری</label>
                                <span class="badge bg-red">جهت اجازه به استفاده کاربر از تسهیلات این گزینه فعال شود </span>
                                <div class="form-group round m-auto">

                                    <select asp-for="Transaction.Active" class="form-control">
                                        <option value=true>فعال</option>
                                        <option value=false>غیرفعال</option>
                                    </select>

                                </div>
                            </div>

                            @*<div class="col-6  m-auto m-b-10">
                            <label>درصد کارمزد:</label>
                            <div class="form-group round m-auto">
                            <input asp-for="Fecilities.KarmozdPersent" id="" type="text" class="form-control">
                            </div>
                            </div>*@

                            <div class="col-12 m-auto m-b-10">

                                <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                    ثبت
                                    <div class="paper-ripple">
                                        <div class="paper-ripple__background"></div>
                                        <div class="paper-ripple__waves"></div>
                                    </div>
                                </button>

                            </div><!-- /.col-md-8 -->
                        </div>
                    </form>



                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>

        </div>
    </div>
</div>
<!--End Fecilities-->
<!--Start Transaction Detail-->
<div id="TransactionDetailModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">جزییات</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">

                    <div class="form-group" id="TransactionDto">
                    </div>

                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>

        </div>
    </div>
</div>
<!--End Transaction Detail-->
<!--Start Excel Registration Fecilities-->
<div id="RegistrationFecilitiesModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">ثبت تسهیلات برای کاربران به صورت اکسل</h4>

            </div>
            <form method="post" asp-page-handler="RegistrationFecilities" class="form-horizontal" role="form" enctype="multipart/form-data"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-complete="OnCompleteRegister">
                <div class="modal-body">



                    <div class="col-12  m-auto m-b-10">
                        <label>نوع اعتبار:</label>
                        <div class="form-group round m-auto">
                            <select name="Type" type="text" class="has-persian-datepicker form-control">
                                <option value="Fecilities">تسهیلات عادی</option>
                                <option value="OrgCredit">اعتبار سازمانی</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12  m-auto m-b-10">

                        <div class="form-group relative">
                            <input name="file" type="file" class="form-control">
                            <label>فایل اکسل تسهیلات رو بارگذاری نمایید</label>
                            <div class="input-group round">
                                <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info">
                                        <i class="icon-file"></i>
                                        آپلود اکسل
                                        <div class="paper-ripple">
                                            <div class="paper-ripple__background"></div>
                                            <div class="paper-ripple__waves"></div>
                                        </div>
                                    </button>
                                </span>
                            </div><!-- /.input-group -->
                            <div class="help-block"></div>
                        </div><!-- /.form-group -->
                    </div>

                    <button type="submit" class="btn btn-success btn-round">ثبت</button>
                    <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
                </div>
                <div class="modal-footer" id="ErrorRegistrationSection">
">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="PaymentFecilitiesModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">ثبت تسویه اقساط برای کاربران به صورت اکسل</h4>

            </div>
            <form method="post" asp-page-handler="PaymentFecilities" class="form-horizontal" role="form" enctype="multipart/form-data"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-complete="OnCompletePayment">
                <div class="modal-body">

                    <div class="col-12  m-auto m-b-10">

                        <div class="form-group relative">
                            <input name="file" type="file" class="form-control">
                            <label>فایل اکسل اقساط رو بارگذاری نمایید</label>
                            <div class="input-group round">
                                <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info">
                                        <i class="icon-file"></i>
                                        آپلود اکسل
                                        <div class="paper-ripple">
                                            <div class="paper-ripple__background"></div>
                                            <div class="paper-ripple__waves"></div>
                                        </div>
                                    </button>
                                </span>
                            </div><!-- /.input-group -->
                            <div class="help-block"></div>
                        </div><!-- /.form-group -->
                    </div>

                    <button type="submit" class="btn btn-success btn-round">ثبت</button>
                    <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
                </div>
                <div class="modal-footer" id="ErrorPaymentSection">
">
                </div>
            </form>
        </div>
    </div>
</div>


<form id="TasviyeGhestForm" method="post" asp-page-handler="TasviyeGhest" class="form-horizontal" role="form" enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="OnCompleteTasviyeGhest">

    <input type="hidden" name="transactionId" id="TasviyeGhestId" />
</form>>
<!--End Excel Registration Fecilities-->
@section Styles {
    <link href="~/shared/lib/shared/toast/toast.css" rel="stylesheet" />
    <link href="~/Admin/plugins/data-table/DataTables-1.10.16/css/jquery.dataTables.css" rel="stylesheet">
    }
@section Scripts {
    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/shared/lib/shared/toast/toast.js"></script>
    <script src="~/shared/lib/shared/toast/mytoast.js"></script>
    <script src="~/Admin/plugins/data-table/js/jquery.dataTables.min.js"></script>
    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/separate.js"></script>
    <script src="~/Admin/js/pages/swal.js"></script>
    <script src="~/shared/lib/admin/Finanical/Index.js"></script>
    <script src="~/shared/lib/admin/finanical/transaction.js"></script>
    <script src="~/shared/lib/admin/finanical/fecilities.js"></script>


    }
