@model Shop.Application.DTOs.Section.SectionAndDetailsDto

<div class="mb-4">
    <!-- Nav nav-pills -->
    <div class="position-relative z-index-2">
        <div class=" d-flex justify-content-between border-bottom border-color-1 flex-lg-nowrap flex-wrap border-md-down-top-0 border-md-down-bottom-0 mb-4 rtl">
            <div class="  justify-content-between border-bottom border-color-1 flex-lg-nowrap flex-wrap border-md-down-top-0 border-md-down-bottom-0 rtl">
                <h3 class="section-title section-title__full mb-0 pb-2 font-size-22">@Model.SectionName </h3>

            </div>
        </div>
        <div class="row">
            @if (Model.Product != null)
            {
                <div class="col-md-auto col-md-5 col-xl-4 col-wd-3gdot3 mb-6 mb-md-0">
                    <!-- Deal -->
                    <div class="p-3 border border-width-2 border-primary borders-radius-20 bg-white min-width-370">
                        <div class="d-flex justify-content-between align-items-center m-1 ml-2">
                            @*<h3 class="font-size-22 mb-0 font-weight-normal text-lh-28">محصول ویژه</h3>*@
                            <div class="d-flex align-items-center flex-column justify-content-center Bg-Red rounded-pill height-75 width-75 text-lh-1">
                                <span class="font-size-12 text-white">محصول</span>
                                <div class="font-size-20 text-white font-weight-bold"> ویژه</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <a href="/Products/Detail/@Model.Product.ShortLink" class="d-block text-center"><img class="img-fluid" src="~/Shared/Images/Products/@Model.Product.Image" alt=""></a>
                        </div>
                        <h5 class="mb-2 font-size-14 text-center mx-auto text-lh-18 "><a href="/Products/Detail/@Model.Product.ShortLink" class=" font-weight-bold">@Model.Product.Name <br /> <small class="font-weight-bold text-muted">@Model.Product.LatinName</small></a></h5>
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            @if (Model.Product.Quantity > 0)
                            {
                                @if (Model.Product.DiscountPrice > 0)
                                {
                                    <del class="font-size-1 tex-gray-6 position-absolute ">@Model.Product.DiscountPrice.ToString("#,0")</del>
                                    <ins class="font-size-15 font-weight-bold text-red text-decoration-none d-flex"><img src="~/shared/toman.svg" /> @Model.Product.SalePrice.ToString("#,0") </ins>

                                    
                                }
                                else
                                {
                                    <ins class="font-size-15 font-weight-bold text-decoration-none d-flex">@Model.Product.SalePrice.ToString("#,0") <img src="~/shared/toman.svg" /></ins>

                                }
                            }
                            else
                            {
                                <ins class="font-size-15 font-weight-bold text-decoration-none d-flex">به اتمام رسیده </ins>
                            }
                        </div>
                        <div class="mb-3 mx-2">
                            <div class=" justify-content-between align-items-center mb-2 text-center">
                                @if (Model.Product.Quantity > 0)
                                {
                                    <span class="text-center">موجودی باقی مانده: <strong>@Model.Product.Quantity</strong></span>
                                }
                                else
                                {
                                    <span class="">موجودی انبار به اتمام رسیده است</span>
                                }
                                
                            </div>
                            <div class="rounded-pill bg-gray-3 height-14 position-relative">
                                @if (Model.Product.Quantity > 0)
                                {
                                    <span class="position-absolute left-0 top-0 bottom-0 rounded-pill w-100 bg-Green"></span>
                                }
                                else
                                {
                                    <span class="position-absolute left-0 top-0 bottom-0 rounded-pill w-100 bg-Red"></span>
                                }
                                
                            </div>
                        </div>
                      @*  <div class="mb-2 mx-2 d-xl-flex align-items-xl-center justify-content-xl-between">
                            <h6 class="font-size-15 text-gray-2 text-center text-xl-left mb-3 mb-xl-0 max-width-100-xl">Hurry Up! Offer ends in:</h6>
                            <div class="js-countdown d-flex justify-content-center" data-end-date="2020/11/30" data-hours-format="%H" data-minutes-format="%M" data-seconds-format="%S">
                                <div class="text-lh-1">
                                    <div class="text-gray-2 font-size-30 bg-gray-4 py-2 px-2 rounded-sm mb-2">
                                        <span class="js-cd-hours">00</span>
                                    </div>
                                    <div class="text-gray-2 font-size-12 font-weight-semi-bold text-center">HOURS</div>
                                </div>
                                <div class="mx-1 pt-1 text-gray-2 font-size-24">:</div>
                                <div class="text-lh-1">
                                    <div class="text-gray-2 font-size-30 bg-gray-4 py-2 px-2 rounded-sm mb-2">
                                        <span class="js-cd-minutes">00</span>
                                    </div>
                                    <div class="text-gray-2 font-size-12 font-weight-semi-bold text-center">MINS</div>
                                </div>
                                <div class="mx-1 pt-1 text-gray-2 font-size-24">:</div>
                                <div class="text-lh-1">
                                    <div class="text-gray-2 font-size-30 bg-gray-4 py-2 px-2 rounded-sm mb-2">
                                        <span class="js-cd-seconds">00</span>
                                    </div>
                                    <div class="text-gray-2 font-size-12 font-weight-semi-bold text-center">SECS</div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <!-- End Deal -->
                </div>
                <div class="col col-md-7 col-xl-8 col-wd-8gdot7">
                    <!-- Tab Content -->
                    <div class="tab-content" id="Bpills-tabContent">
                        <div class="tab-pane fade show active" id="Bpills-one-example1" role="tabpanel" aria-labelledby="Bpills-one-example1-tab">
                            <div class="js-slick-carousel u-slick overflow-hidden u-slick-overflow-visble pt-1 pb-6 px-1"
                                 data-pagi-classes="text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-4">


                                <div class="js-slide">
                                    <div class="row products-group no-gutters">
                                        @foreach (var item in Model.ProductCateguries.Take(10))
                                        {
                                            <div class="col-6 col-md-4 col-xl-3 col-wd-2gdot4 product-item">
                                                <div class="product-item__inner px-xl-4 p-3">
                                                    <div class="product-item__body pb-xl-2">
                                                        <div class="mb-2"><a href="/Products/Detail/@item.ShortLink" class="font-size-12 text-gray-5">@item.CateguryName</a></div>
                                                        <div class="mb-2">
                                                            <a href="/Products/Detail/@item.ShortLink" class="d-block text-center"><img class="img-fluid" src="~/Shared/Images/Products/@item.Image" alt=""></a>
                                                        </div>
                                                        <h6 class="font-size-12 mb-1 product-item__title"><a href="href=" /Products/Detail/@item.ShortLink"" class=" font-weight-bold">@item.Name</a></h6>

                                                        <div class="flex-center-between mt-4 mb-1">


                                                            <div class="prodcut-price d-flex align-items-center position-relative">
                                                                @if (item.Quantity > 0)
                                                                {
                                                                    @if (item.DiscountPrice > 0)
                                                                    {
                                                                        <ins class="font-size-15 font-weight-bold text-red text-decoration-none d-flex"><img src="~/shared/toman.svg" /> @item.SalePrice.ToString("#,0") </ins>

                                                                        <del class="font-size-1 tex-gray-6 position-absolute bottom-100">@item.DiscountPrice.ToString("#,0")</del>
                                                                    }
                                                                    else
                                                                    {
                                                                        <ins class="font-size-15 font-weight-bold text-decoration-none d-flex">@item.SalePrice.ToString("#,0") <img src="~/shared/toman.svg" /></ins>

                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <ins class="font-size-15 font-weight-bold text-decoration-none d-flex">به اتمام رسیده </ins>
                                                                }


                                                            </div>
                                                            <div class="d-none d-xl-block prodcut-add-cart">
                                                                <a href="/Products/Detail/@item.ShortLink" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-item__footer">
                                                        <div class="border-top pt-2 flex-center-between flex-wrap">
                                                            <a onclick="AddToCompare(@item.Id)" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> مقایسه</a>
                                                            <a onclick="AddToFavorite(@item.Id)" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> علاقه مندم</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                @if (Model.ProductCateguries.Count > 10)
                                {
                                    <div class="js-slide">
                                        <div class="row products-group no-gutters">
                                            @foreach (var item in Model.ProductCateguries.Skip(10).Take(10))
                                            {
                                                <div class="col-6 col-md-4 col-xl-3 col-wd-2gdot4 product-item">
                                                    <div class="product-item__inner px-xl-4 p-3">
                                                        <div class="product-item__body pb-xl-2">
                                                            <div class="mb-2"><a href="/Products/Detail/@item.ShortLink" class="font-size-12 text-gray-5">@item.CateguryName</a></div>
                                                            <div class="mb-2">
                                                                <a href="/Products/Detail/@item.ShortLink" class="d-block text-center"><img class="img-fluid" src="~/Shared/Images/Products/@item.Image" alt=""></a>
                                                            </div>
                                                            <h6 class="font-size-12 mb-1 product-item__title"><a href="href=" /Products/Detail/@item.ShortLink"" class=" font-weight-bold">@item.Name</a></h6>

                                                            <div class="flex-center-between mt-4 mb-1">


                                                                <div class="prodcut-price d-flex align-items-center position-relative">
                                                                    @if (item.Quantity > 0)
                                                                    {
                                                                        @if (item.DiscountPrice > 0)
                                                                        {
                                                                            <ins class="font-size-15 font-weight-bold text-red text-decoration-none d-flex"><img src="~/shared/toman.svg" /> @item.SalePrice.ToString("#,0") <img src="~/shared/toman.svg" /></ins>

                                                                            <del class="font-size-1 tex-gray-6 position-absolute bottom-100">@item.DiscountPrice.ToString("#,0")</del>
                                                                        }
                                                                        else
                                                                        {
                                                                            <ins class="font-size-15 font-weight-bold text-decoration-none d-flex">@item.SalePrice.ToString("#,0") <img src="~/shared/toman.svg" /></ins>

                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <ins class="font-size-15 font-weight-bold text-decoration-none d-flex">به اتمام رسیده </ins>
                                                                    }


                                                                </div>
                                                                <div class="d-none d-xl-block prodcut-add-cart">
                                                                    <a href="/Products/Detail/@item.ShortLink" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-item__footer">
                                                            <div class="border-top pt-2 flex-center-between flex-wrap">
                                                                <a onclick="AddToCompare(@item.Id)" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> مقایسه</a>
                                                                <a onclick="AddToFavorite(@item.Id)" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> علاقه مندم</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>

                    </div>
                    <!-- End Tab Content -->
                </div>
            }
            else
            {
                <div class="col col-md-12 col-xl-12 col-wd-8gdot7">
                    <!-- Tab Content -->
                    <div class="tab-content" id="Bpills-tabContent">
                        <div class="tab-pane fade show active" id="Bpills-one-example1" role="tabpanel" aria-labelledby="Bpills-one-example1-tab">
                            <div class="js-slick-carousel u-slick overflow-hidden u-slick-overflow-visble pt-1 pb-6 px-1"
                                 data-pagi-classes="text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-4">


                                <div class="js-slide">
                                    <div class="row products-group no-gutters">
                                        @foreach (var item in Model.ProductCateguries.Take(10))
                                        {
                                            <div class="col-6 col-md-4 col-xl-3 col-wd-2gdot4 product-item">
                                                <div class="product-item__inner px-xl-4 p-3">
                                                    <div class="product-item__body pb-xl-2">
                                                        <div class="mb-2"><a href="/Products/Detail/@item.ShortLink" class="font-size-12 text-gray-5">@item.CateguryName</a></div>
                                                        <div class="mb-2">
                                                            <a href="/Products/Detail/@item.ShortLink" class="d-block text-center"><img class="img-fluid" src="~/Shared/Images/Products/@item.Image" alt=""></a>
                                                        </div>
                                                        <h6 class="font-size-12 mb-1 product-item__title"><a href="../shop/single-product-fullwidth.html" class=" font-weight-bold">@item.Name</a></h6>

                                                        <div class="flex-center-between mt-4 mb-1">


                                                            <div class="prodcut-price d-flex align-items-center position-relative">
                                                                @if (item.Quantity > 0)
                                                                {
                                                                    @if (item.DiscountPrice > 0)
                                                                    {
                                                                        <ins class="font-size-15 font-weight-bold text-red text-decoration-none d-flex">@item.SalePrice.ToString("#,0") <img src="~/shared/toman.svg" /></ins>

                                                                        <del class="font-size-1 tex-gray-6 position-absolute bottom-100">@item.DiscountPrice.ToString("#,0")</del>
                                                                    }
                                                                    else
                                                                    {
                                                                        <ins class="font-size-15 font-weight-bold text-decoration-none d-flex">@item.SalePrice.ToString("#,0") <img src="~/shared/toman.svg" /></ins>

                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <ins class="font-size-15 font-weight-bold text-decoration-none d-flex">به اتمام رسیده </ins>
                                                                }


                                                            </div>
                                                            <div class="d-none d-xl-block prodcut-add-cart">
                                                                <a href="/Products/Detail/@item.ShortLink" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-item__footer">
                                                        <div class="border-top pt-2 flex-center-between flex-wrap">
                                                            <a onclick="AddToCompare(@item.Id)" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> مقایسه</a>
                                                            <a onclick="AddToFavorite(@item.Id)" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> علاقه مندم</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                @if (Model.ProductCateguries.Count > 10)
                                {
                                    <div class="js-slide">
                                        <div class="row products-group no-gutters">
                                            @foreach (var item in Model.ProductCateguries.Skip(10).Take(10))
                                            {
                                                <div class="col-6 col-md-4 col-xl-3 col-wd-2gdot4 product-item">
                                                    <div class="product-item__inner px-xl-4 p-3">
                                                        <div class="product-item__body pb-xl-2">
                                                            <div class="mb-2"><a href="/Products/Detail/@item.ShortLink" class="font-size-12 text-gray-5">@item.CateguryName</a></div>
                                                            <div class="mb-2">
                                                                <a href="/Products/Detail/@item.ShortLink" class="d-block text-center"><img class="img-fluid" src="~/Shared/Images/Products/@item.Image" alt=""></a>
                                                            </div>
                                                            <h6 class="font-size-12 mb-1 product-item__title"><a href="../shop/single-product-fullwidth.html" class=" font-weight-bold">@item.Name</a></h6>

                                                            <div class="flex-center-between mt-4 mb-1">


                                                                <div class="prodcut-price d-flex align-items-center position-relative">
                                                                    @if (item.Quantity > 0)
                                                                    {
                                                                        @if (item.DiscountPrice > 0)
                                                                        {
                                                                            <ins class="font-size-15 font-weight-bold text-red text-decoration-none d-flex">@item.SalePrice.ToString("#,0") <img src="~/shared/toman.svg" /></ins>

                                                                            <del class="font-size-1 tex-gray-6 position-absolute bottom-100">@item.DiscountPrice.ToString("#,0")</del>
                                                                        }
                                                                        else
                                                                        {
                                                                            <ins class="font-size-15 font-weight-bold text-decoration-none d-flex">@item.SalePrice.ToString("#,0") <img src="~/shared/toman.svg" /></ins>

                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <ins class="font-size-15 font-weight-bold text-decoration-none d-flex">به اتمام رسیده </ins>
                                                                    }


                                                                </div>
                                                                <div class="d-none d-xl-block prodcut-add-cart">
                                                                    <a href="/Products/Detail/@item.ShortLink" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-item__footer">
                                                            <div class="border-top pt-2 flex-center-between flex-wrap">
                                                                <a onclick="AddToCompare(@item.Id)" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> مقایسه</a>
                                                                <a onclick="AddToFavorite(@item.Id)" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> علاقه مندم</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>

                    </div>
                    <!-- End Tab Content -->
                </div>
            }
        </div>
    </div>
    <!-- End Nav Pills -->
</div>
