@page "{Id?}"
@using Shop.Application.Enum
@model Shop.Web.Pages.Admin.Products.CreateOrUpdateModel
@{
    Layout = "Shared/Admin_Layout";
}


<input type="hidden" asp-for="productId" id="productId" />
<div class="row">



    <div class="col-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        <i class="icon-bag Orange"></i>
                        اطلاعات محصول
                    </h3>
                   
                </div>

            </div>
            <div class="portlet-body">
                <div class="portlet-body">
                    <form method="post" id="SaveForm" asp-page-handler="Save" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-begin="OnLoadingSave"
                          data-ajax-complete="OnCompleteSave"
                          data-ajax-failure="OnErrorSave">
                        <div class="row">
                            <input asp-for="ProductDto.Id" class="ProductId" type="hidden">
                            <input asp-for="ProductDto.CreateDate" class="ProductDto_CreateDate" type="hidden">
                            <input asp-for="ProductDto.Visit" class="ProductDto_Visit" type="hidden">
                            <input asp-for="ProductDto.ShortLink" class="ProductDto_ShortLink" type="hidden">

                            <div class="col-md-6 col-lg-6 m-auto m-b-10">
                                <label>شناسه سامانه</label>
                                <div class="form-group round">
                                    <input asp-for="ProductDto.Id" class="ProductId" type="text" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 m-auto m-b-10">
                                <label>وضعیت انتشار </label>
                                <div class="form-group round">
                                    <select class="form-control" name="isActive" id="isActive">
                                        <option value="1">منتشر شده</option>
                                        <option value="2">عدم انتشار</option>

                                    </select>
                                    <div id="PreShow"></div>

                                </div>

                            </div>
                            <div class="col-md-12 col-lg-12 m-auto m-b-10">
                                <label> عنوان محصول</label>
                                <div class="form-group round">
                                    <input asp-for="ProductDto.Name" id="ProductDto_Name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 m-auto m-b-10">
                                <label> عنوان لاتین محصول</label>
                                <div class="form-group round">
                                    <input asp-for="ProductDto.LatinName" id="ProductDto_LatinName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 m-auto m-b-10">
                                <label>کد محصول</label>
                                <div class="form-group round">
                                    <input asp-for="ProductDto.Code" id="ProductDto_Code" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 m-auto m-b-10">
                                <label>نوع محصول<br /> <small class="text-warning" id="ParentText"></small></label>
                                <div class="form-group round">
                                    @* <select class="form-control" asp-for="ProductDto.TypeId" id="ProductDto_TypeId">

                                    @foreach (var item in Model.ProducyTypes)
                                    {
                                    <option value="@item.Id">@item.TypeName</option>
                                    }
                                    </select>*@
                                    <select class="form-control" asp-for="ProductDto.TypeId" id="ProductDto_TypeId">
                                        <option value="1">محصول ساده</option>
                                        <option value="2">محصول متغیر</option>
                                        @*<option value="3">زیرمجموعه متغیر</option>*@
                                        <option value="4">محصول باندل</option>
                                        <option value="5">زیرمجموعه باندل</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 m-auto m-b-10">
                                <label>برند</label>
                                <div class="form-group">

                                    <select asp-for="ProductDto.BrandId" id="ProductDto_BrandId" class="form-control select2">
                                        <option value="">انتخاب نشده</option>
                                        @foreach (var item in Model.Brands)
                                        {
                                            if (item.BrandId == Model.SelectedBrand)
                                            {
                                                <option selected="selected" value="@item.BrandId">@item.BrandTitle @item.LatinBrandTitle</option>
                                            }
                                            else
                                            {
                                                <option value="@item.BrandId">@item.BrandTitle @item.LatinBrandTitle</option>
                                            }

                                        }
                                    </select>


                                </div>

                            </div>
                            <div id="BundleSection" class="hidden">
                                <div class="col-md-6 col-lg-6 m-auto m-b-10">
                                    <label>فروش تکی<br /> <small class="text-warning" id="ParentText"></small></label>
                                    <div class="form-group round">
                                        <small class="Orange">در صورت انتخاب نوع محصول (زیرمجموعه باندل)</small>
                                        <select class="form-control" asp-for="ProductDto.SingleSale" id="ProductDto_SingleSale">
                                            <option value="true">محصول به صورت تکی هم فروخته شود</option>
                                            <option value="false">فروش فقط به صورت باندل</option>
                                        </select>
                                    </div>
                                </div>
                                

                            </div>
                            @* <div id="VariationSection" class="hidden">
                                <div class="col-md-12 col-lg-12 m-auto m-b-10 ">

                                    <label>عنوان مختصر متغیر</label>
                                    <div class="form-group round">
                                        <input asp-for="ProductDto.VariationName" id="ProductDto_VariationName" type="text" class="form-control">
                                    </div>

                                </div>
                            </div> *@
                            @* <div id="ParrentSection" class="hidden">
                                <div class="col-md-12 col-lg-12 m-auto m-b-10 ">

                                    <label>جستجوی محصول</label>

                                    <div class="input-group">
                                        <input type="text" class="form-control " id="SearchProduct" placeholder=" شناسه و یا عنوان محصول را جستجو کنید(جهت فراخوانی لیست محصولات روی دکمه جستجو کلیک فرمایید)">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" onclick="SearchProductParents()" type="button">جستجو<div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div></button>
                                        </span>
                                    </div>
                                    <label>محصول اصلی</label>

                                    <div class="form-group round">
                                        <select class="form-control" asp-for="ProductDto.ParentId" id="ProductDto_ParentId">
                                        </select>
                                        </div>


                                </div>

                            </div> *@
                            <div class="col-md-6 col-lg-6 m-auto m-b-10">
                                <label>کلاس مالیاتی</label>
                                <div class="form-group round">
                                    <select class="form-control" asp-for="ProductDto.TaxId" id="ProductDto_TaxId">

                                        @foreach (var item in Model.TaxList)
                                        {
                                            <option value="@item.Id">@item.TaxName</option>
                                        }
                                    </select>
                                     </div>
                            </div>
                            <div class="col-md-6 col-lg-6 m-auto m-b-10">
                                <label>امتیاز</label>
                                <div class="form-group round">
                                    <input asp-for="ProductDto.Score" id="ProductDto_Score" type="text" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-6 col-lg-6 m-auto m-b-10">
                                <label>شناسه مالیاتی</label>
                                <div class="form-group round">
                                    <input asp-for="ProductDto.TaxCode" id="ProductDto_TaxCode" type="text" class="form-control">
                                    </div>
                            </div>
                            <div class="col-md-6 col-lg-6 m-auto m-b-10">
                                <label>کلمات کلیدی</label>
                                <div class="form-group round">
                                    <input asp-for="ProductDto.Keywords" id="ProductDto_Keywords" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-12 m-auto m-b-10">
                                <label>توضیح کوتاه</label>
                                <div class="form-group round">
                                    <textarea asp-for="ProductDto.ShortDescription" id="ProductDto_ShortDescription" type="text" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 m-auto m-b-10">
                                <label>توضیحات</label>
                                <div class="form-group round">
                                    
                                    <textarea asp-for="ProductDto.Description" id="ProductDto_Description" >
                                        
                                    </textarea>
                                </div>
                            </div>

                            <div class="col-md-8 col-lg-6 m-auto m-b-50">

                                <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                    ذخیره اطلاعات
                                    <div class="paper-ripple">
                                        <div class="paper-ripple__background"></div>
                                        <div class="paper-ripple__waves"></div>
                                    </div>
                                </button>
                            </div><!-- /.col-md-8 -->

                        </div>
                    </form>
                </div><!-- /.portlet-body -->

            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->
    </div><!-- /.col-12 -->


    <div class="col-12" id="CateguriesSections"></div>
    <div class="col-12" id="GalleryData"></div>
    <div class="col-12" id="FeuturesData"></div>
    <div class="col-12" id="ChildAndStockData"></div>
    
</div>


<!--Categury-->
<div id="AddCateguryModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن دسته بندی</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" id="AddCatForm" asp-page-handler="EditOrCreateCategury"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-complete="OnCompleteAddCat">
                        <input type="hidden" asp-for="categury.ProductId" class="ProductId" />

                        <div class="form-group">
                            <label>جستجوی دسته بندی</label>
                            <div class="input-group">
                                <input type="text" class="form-control " id="SearchCatText" placeholder="عنوان دسته بندی را جستجو نمایید">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" onclick="SearchCat()" type="button">جستجو<div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div></button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <select class="form-control" asp-for="categury.CateguryId" id="categuriesSelect"></select>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">ثبت </button>
                        </div>

                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<form method="post" id="GetAllCatForm" asp-page-handler="GetAllCateguries"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="OnCompleteGetAllCat">
    <input type="hidden" asp-for="productId" class="ProductId" />
    <input type="hidden" asp-for="FilterCat" id="FilterCatForm" />
</form>
<form method="post" id="DeleteCatForm" asp-page-handler="DeleteCategury"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="OnCompleteDeleteCat">
    <input type="hidden" asp-for="productId" class="ProductId" />
</form>
<!--Categury-->

<!--Feutures-->
<div id="SearchFeutureModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن ویژگی جدید</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="SearchFeuture" id="SearchFeutureForm" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-complete="OnCompleteFeuture">

                        <div class="form-group">
                            <label>جستجوی دسته بندی</label>
                            <div class="input-group">
                                <input type="text" class="form-control " id="SearchCatText2" placeholder="عنوان دسته بندی را جستجو نمایید">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" onclick="SearchCat2()" type="button">جستجو<div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div></button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <select class="form-control" asp-for="CatId" id="categuriesSelect2"></select>
                        </div>
                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>جستجوی دسته بندی ویژگی ها</label>
                            <div class="form-group round">
                                <select class="form-control  curve" asp-for="propertyCatId">
                                    <option>انتخاب نشده</option>
                                    @foreach (var item in Model.categuryObject.propertyCategury)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>جستجوی نام ویژگی</label>
                            <div class="form-group round">
                                <input class="form-control" asp-for="propertyFilter" />

                            </div>
                        </div>
                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="button" onclick="Filter()" class="btn btn-info btn-round btn-block mb-2">
                                جستجوی ویژگی
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">

                <div class="portlet-body w-100" style="">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="data-table2">

                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="AddEditFeutureModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن ویژگی جدید</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="AddEditFeuture" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-complete="OnCompleteAEFeuture">

                        <input type="hidden" asp-for="AddFeutureInput.ProductId" class="ProductId">
                        <input type="hidden" asp-for="AddFeutureInput.Id" id="AddFeutureInput_Id">
                        <input type="hidden" asp-for="AddFeutureInput.PropertyId" id="AddFeutureInput_PropertyId">



                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>مقدار ویژگی</label>
                            <div class="form-group round">
                                <input class="form-control curve" asp-for="AddFeutureInput.Value">
                            </div>
                        </div>


                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                ثبت
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>

                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div id="DeleteFeutureModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">حذف ویژگی </h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="DeleteFeuture" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-complete="OnCompleteDeleteFeuture">

                        <input type="hidden" asp-for="AddFeutureInput.Id" id="DeleteAddFeutureInput_Id">


                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <h5>آیا از حذف این ویژگی مطمئن هستید؟</h5>
                        </div>


                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-red text-white btn-round btn-block mb-2">
                                حذف گردد
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>

                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<form method="post" id="GetAllCatForm2" asp-page-handler="GetAllCateguries"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="OnCompleteGetAllCat2">
    <input type="hidden" asp-for="productId" class="ProductId" />
    <input type="hidden" asp-for="FilterCat" id="FilterCatForm2" />
</form>
<form method="post" id="GetSubsForm" asp-page-handler="Subs"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingSub"
      data-ajax-complete="OnCompleteSub"
      data-ajax-failure="OnErrorSub">
    <input type="hidden" name="parentId" id="parentId" />
</form>
<!--Feutures-->


<!--Variations-->
<div id="AddVariationModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن متغیر محصول</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="AddVariation" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-complete="OnCompleteAddVariation">
                        <input type="hidden" asp-for="productId" class="ProductId" />
                        <input type="hidden" asp-for="variationDto.ParentId" class="ProductId" />


                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>نام مختصر متغیر</label>
                            <small class="Red">راهنما(رنگ محصول متغیر )</small>
                            <div class="form-group round">
                                <input asp-for="variationDto.VariationName" id="variationDto_VariationName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                ثبت
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<div id="EditVariationModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">ویرایش متغیر محصول</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="EditVariation" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-complete="OnCompleteEditVariation">
                        <input type="hidden" name="variationId" id="variationId" />


                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>نام مختصر متغیر</label>
                            <small class="Red">راهنما(رنگ محصول متغیر )</small>
                            <div class="form-group round">
                                <input asp-for="variationDto.VariationName" id="variationDto_VariationName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                ثبت
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<div id="AddStockModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">ایجاد انبار محصول</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="AddSingleStock"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-complete="OnCompleteAddSingleStock">
                        <input type="hidden" asp-for="productId" id="dublicateProductId" class="ProductId" />



                        <div class="form-group">
                            <label>فروشنده محصول</label>
                            <select class="form-control" name="storeId">
                                @foreach (var item in Model.UserStores)
                                {
                                    <option value="@item.Id">@item.StoreName</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">ثبت </button>
                        </div>

                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<form method="post" id="DeleteChild" asp-page-handler="DeleteChild"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="OnCompleteDeleteChild">

    <input type="hidden" name="childId" id="childId" />

</form>
<!--Variations-->

<!--Stocks-->
<div id="PriceModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">تغییر قیمت محصول</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="EditPriceItem" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-complete="OnCompleteEditPrice">

                        <input type="hidden" asp-for="productStock.Id" class="ProductStockId" />
                        <input type="hidden" asp-for="productStock.ProductId" id="product_ProductId" />
                        <input type="hidden" asp-for="productStock.RepId" id="product_RepId" />
                        <input type="hidden" asp-for="productStock.StoreId" id="product_StoreId" />
                        <input type="hidden" asp-for="productStock.StockStatus" id="product_StockStatus" />
                        <input type="hidden" asp-for="productStock.Quantity" id="product_Quantity" />


                        <div class="col-md-6 col-lg-6 m-auto m-b-10">
                            <label> قیمت خام</label>
                            <div class="form-group round">
                                <input asp-for="productStock.TextBasePrice" id="product_BasePrice" type="text" class="form-control" onkeyup="javascript:this.value=itpro(this.value);">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 m-auto m-b-10">
                            <label>قیمت خرید</label>
                            <div class="form-group round">
                                <input asp-for="productStock.TextPrice" id="product_Price" type="text" class="form-control" onkeyup="javascript:this.value=itpro(this.value);">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 m-auto m-b-10">
                            <label>قیمت فروش</label>
                            <div class="form-group round">
                                <input asp-for="productStock.TextSalePrice" id="product_SalePrice" type="text" class="form-control" onkeyup="javascript:this.value=itpro(this.value);">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 m-auto m-b-10">
                            <label>قیمت شگفت انگیز</label>
                            <div class="form-group round">
                                <input asp-for="productStock.TextDiscountPrice" id="product_DiscountPrice" type="text" class="form-control" onkeyup="javascript:this.value=itpro(this.value);">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 m-auto m-b-10">
                            <label>تاریخ انقضا قیمت شگفت انگیز</label>
                            <strong class="text-red" id="productStock_DiscountDate"></strong>
                            <div class="form-group round">
                                <input asp-for="productStock.DiscountDateShamsi" id="product_DiscountDateShamsi" type="text" value="null" class=" has-persian-datepicker form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 m-auto m-b-10">
                            <label>دسته بندی کاربران</label>

                            <div class="form-group round">
                                <select asp-for="productStock.CateguryOfUserId" id="product_CateguryOfUserId" type="text" class="form-control" data-val="true">
                                    <option value=null>انتخاب نشده</option>
                                    <option value=1>همکاران بانک ملی ایران</option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 m-auto m-b-10">
                            <label>نوع مشاهده محصول برای دسته بندی کاربران</label>
                            
                            <div class="form-group round">
                                <select asp-for="productStock.CateguryOfUserType" id="product_CateguryOfUserType" type="text" class="form-control" data-val="true">
                                    <option value=null>انتخاب نشده</option>
                                    <option value="@CateguryOfUserType.ShowDiscoutProductForUserCategury">مشاهده تخفیف برای دسته بندی کاربران</option>
                                    <option value="@CateguryOfUserType.ShowProductJustForUserCategury">مشاهده محصول برای دسته بندی کاربران</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                ثبت
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<div id="ProductRepresentationModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">تغییر موجودی انبار</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="AddProductRepresentation" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-complete="OnCompleteAddPr">
                        <input type="hidden" asp-for="ProductRepresentationDto.ProductStockPriceId" class="ProductStockId" />
                        <input type="hidden" asp-for="ProductRepresentationDto.RepresntationId" class="RepId" />

                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>کد اختصاصی درخواست انبار</label>
                            <small class="Red">در صورتی که این مقدار خالی ثبت شود کد اختصاصی به صورت خودکار درج خواهد شد</small>
                            <div class="form-group round">
                                <input asp-for="ProductRepresentationDto.UniqeCode" id="ProductRepresentationDto_UniqeCode" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>نوع درخواست انبار</label>
                            <div class="form-group round">
                                <select asp-for="ProductRepresentationDto.TypeId" id="ProductRepresentationDto_TypeId" type="text" class="form-control">
                                    <option>انتخاب کنید</option>
                                    @foreach (var item in Model.repTypes)
                                    {
                                        <option value="@item.Id">@item.Type</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>تعداد مورد نظر</label>

                            <div class="form-group round">
                                <input asp-for="ProductRepresentationDto.Quantity" id="ProductRepresentationDto.Quantity" type="number" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label> تعداد در هر پک باندل</label>

                            <div class="form-group round">
                                <input asp-for="ProductRepresentationDto.QuantityPerBundle" type="number" class="form-control">
                            </div>
                        </div>


                        <div class="form-group relative">
                            <input type="file" class="form-control" data-val="true" data-val-required="The LogoFile field is required." asp-for="ProductRepresentationDto.File" id="ProductRepresentationDto_File">
                            <label>پیوست فایل(رسید انبار)</label>
                            <div class="input-group round">
                                <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info">
                                        <i class="icon-picture"></i>
                                        آپلود پیوست
                                        <div class="paper-ripple">
                                            <div class="paper-ripple__background"></div>
                                            <div class="paper-ripple__waves"></div>
                                        </div>
                                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                                    </button>
                                </span>
                            </div><!-- /.input-group -->
                            <div class="help-block"></div>
                        </div>

                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                ثبت
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<div id="QuickProductRepresentationModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">تغییر موجودی انبار</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="QuickAddProductRepresentation" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-complete="OnCompleteQuickAddPr">
                        <input type="hidden" asp-for="ProductRepresentationDto.ProductStockPriceId" class="ProductStockId" />
                        <input type="hidden" asp-for="ProductRepresentationDto.RepresntationId" class="RepId" />


                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>تعداد مورد نظر</label>

                            <div class="form-group round">
                                <input asp-for="ProductRepresentationDto.Quantity" id="ProductRepresentationDto.Quantity" type="number" class="form-control">
                            </div>
                        </div>






                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                ثبت
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<div id="ChangeQuantityPerBundleModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">تغییر موجودی انبار</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="ChangeQuantityPerBundle" class="form-horizontal" role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-complete="OnCompleteChangeQuantityPerBundle">
                        <input type="hidden" name="productStockPriceId" id="productStockPriceId" />

                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label> تعداد در هر پک باندل</label>

                            <div class="form-group round">
                                <input name="QuantityPerBundle" id="QuantityPerBundle" type="number" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                ثبت
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<form method="post" id="GetPriceForm" asp-page-handler="PriceItem"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="OnCompleteGetPrice">
    <input type="hidden" asp-for="productId" class="ProductStockId" />
</form>
<form method="post" id="DeleteProductStockPrice" asp-page-handler="DeleteProductStock"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="OnCompleteDeleteProductStock">
    <input type="hidden" name="rep" id="repId" />
    <input type="hidden" name="id" id="pspId" />

</form>
<!--Stocks-->




<div id="CateguriesModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">دسته بندی محصولات</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">

                    <div>
                        <button type="button" class="btn btn-xs btn-success hover-green" onclick="showAddCatModal()">افزودن دسته بندی</button>
                    </div>

                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" asp-for="productId" id="PId" />

<form method="post" id="ProductParentsForm" asp-page-handler="ProductParents"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingProductParents"
      data-ajax-complete="OnCompleteProductParents">
    <input type="hidden" asp-for="Type" id="Type" />
    <input type="hidden" asp-for="Filter" id="FilterParrents" />
</form>

<form method="post" id="GetDataForm" asp-page-handler="Data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingData"
      data-ajax-complete="OnCompleteData"
      data-ajax-failure="OnErrorData">
    <input type="hidden" asp-for="productId" class="ProductId" />
</form>





<!--FORMS-->
@section Styles {
    <link href="~/Shared/Lib/Shared/Toast/Toast.css" rel="stylesheet" />
    <link href="~/Admin/plugins/data-table/DataTables-1.10.16/css/jquery.dataTables.css" rel="stylesheet">
    <link href="~/Admin/plugins/persian-datepicker/css/persian-datepicker.min.css" rel="stylesheet">
    <link href="~/Admin/plugins/select2/dist/css/select2.min.css" rel="stylesheet">
    <style>
        .ck-editor__editable_inline {
            min-height: 500px;
            text-align: right;
        }
    </style>

}
@section Scripts {
    <script src="~/Admin/ckeditor5/ckeditor.js"></script>
    <script src="~/Shared/Lib/Shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Admin/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Admin/plugins/select2/dist/js/i18n/fa.js"></script>
    <script src="~/Admin/js/pages/select2.js"></script>
    <script src="~/Admin/plugins/data-table/js/jquery.dataTables.min.js"></script>
    <script src="~/Shared/Lib/Shared/jquery-ajax-unobtrusive/3.2.6/Separate.js"></script>
    <script src="~/Shared/Lib/Shared/Toast/Toast.js"></script>
    <script src="~/Shared/Lib/Shared/Toast/MyToast.js"></script>
    <script src="~/Admin/plugins/persian-date/persian-date.min.js"></script>
    <script src="~/Admin/plugins/persian-datepicker/js/persian-datepicker.min.js"></script>
    <script src="~/Admin/js/pages/calendar.js"></script>

   
    <script src="~/Shared/Lib/Admin/Products/CreateOrUpdate.js"></script>
    <script src="~/Shared/Lib/Admin/Products/CreateOrUpdateAjax/Categury.js"></script>
    <script src="~/Shared/Lib/Admin/Products/CreateOrUpdateAjax/Galleries.js"></script>
    
    <script src="~/Shared/Lib/Admin/Products/CreateOrUpdateAjax/Feuture.js"></script>
    <script src="~/Shared/Lib/Admin/Products/CreateOrUpdateAjax/Variations.js"></script>
    <script src="~/Shared/Lib/Admin/Products/CreateOrUpdateAjax/Stocks.js"></script>
}