@page "{Id}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Parstech.Shop.Web.Pages.Admin.Products.EditContentModel
@{
    Layout = "Shared/Admin_Layout";
}

<div class="row">

    <div class="col-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        <i class="icon-picture"></i>
                        گالری محصول
                    </h3>
                    <div class="buttons-box">
                        <button class="btn btn-sm btn-success btn-round hover-green" onclick="CleanProduct()"
                                data-bs-toggle="modal" data-bs-target="#GalleryModal">
                            <i class="icon-plus"></i>
                            <div class="paper-ripple">
                                <div class="paper-ripple__background"></div>
                                <div class="paper-ripple__waves"></div>
                            </div>
                            <div class="paper-ripple">
                                <div class="paper-ripple__background" style="opacity: 0.0088;"></div>
                                <div class="paper-ripple__waves"></div>
                            </div>
                        </button>

                    </div>
                </div><!-- /.portlet-title -->

            </div><!-- /.portlet-heading -->
            <div class="portlet-body">
                <div class="portlet-body">
                    <div class="row" id="GalleryData">

                    </div><!-- /.row -->
                </div><!-- /.portlet-body -->

            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->
    </div><!-- /.col-12 -->
    <div class="col-12">
        <form method="post" id="SaveForm" asp-page-handler="Save" class="form-horizontal" role="form"
              enctype="multipart/form-data"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-begin="OnLoadingSave"
              data-ajax-complete="OnCompleteSave"
              data-ajax-failure="OnErrorSave">

            <div class="portlet box border shadow">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h3 class="title">
                            <i class="icon-note"></i>
                            محتوای محصول
                        </h3>
                    </div><!-- /.portlet-title -->

                </div><!-- /.portlet-heading -->
                <div class="portlet-body">

                    <textarea asp-for="productContent" class="form-control"></textarea>
                    <input type="hidden" asp-for="productId" class="productId"/>


                    <button type="submit" class="btn btn-info  mb-2">
                        به روز رسانی محصول

                    </button>
                </div><!-- /.portlet-body -->
            </div><!-- /.portlet -->


        </form>

    </div><!-- /.col-12 -->
    <div class="col-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        <i class="icon-note"></i>
                        ویژگی محصول
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <button class="btn btn-sm btn-success btn-round hover-green" data-bs-toggle="modal"
                            data-bs-target="#SearchFeutureModal">
                        <i class="icon-plus"></i>
                        <div class="paper-ripple">
                            <div class="paper-ripple__background"></div>
                            <div class="paper-ripple__waves"></div>
                        </div>
                        <div class="paper-ripple">
                            <div class="paper-ripple__background" style="opacity: 0.0088;"></div>
                            <div class="paper-ripple__waves"></div>
                        </div>
                    </button>

                </div>
            </div><!-- /.portlet-heading -->
            <div class="portlet-body" style="">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="data-table">
                        <div class="form-group d-flex">

                            <input id="FilterInput" type="text" class="form-control w-50" placeholder="جستجوی ویژگی"/>
                            <button onclick="Filter()" class="btn btn-blue text-white font-weight-bold">فیلتر</button>

                            @*<select class="form-control w-25" placeholder="جستجوی کاربران">
                            </select>
                            <button class="btn btn-orange text-white font-weight-bold">فیلتر دسترسی ها</button>*@
                        </div>
                        <thead>
                        <tr>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        </tr>

                        </tbody>

                    </table>

                </div>

            </div>
        </div><!-- /.portlet -->
    </div><!-- /.col-12 -->

</div>




<!--modal-->
<!--Start Gallery -->
<div id="GalleryModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن تصویر محصول</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="AddGallery" class="form-horizontal" role="form"
                          enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-begin="OnLoadingGallery"
                          data-ajax-complete="OnCompleteGallery"
                          data-ajax-failure="OnErrorGallery">
                        <input type="hidden" asp-for="Gallery.ProductId" class="productId"/>

                        <div class="form-group relative">
                            <input type="file" class="form-control" data-val="true"
                                   data-val-required="The LogoFile field is required." asp-for="Gallery.File"
                                   id="Gallery_File">
                            <label>تصویر محصول</label>
                            <div class="input-group round">
                                <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info">
                                        <i class="icon-picture"></i>
                                        آپلود عکس
                                        <div class="paper-ripple">
                                            <div class="paper-ripple__background"></div>
                                            <div class="paper-ripple__waves"></div></div>
                                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div
                                                class="paper-ripple__waves"></div></div></button>
                                </span>
                            </div><!-- /.input-group -->
                            <div class="help-block"></div>
                        </div>

                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label> متن جایگزین تصویر</label>
                            <div class="form-group round">
                                <input asp-for="Gallery.Alt" id="Gallery_Alt" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 m-auto m-b-10">
                            <label>به عنوان تصویر اصلی محصول در نظر گرفته شود؟</label>
                            <div class="form-group round">
                                <input asp-for="Gallery.IsMain" id="Gallery_IsMain" type="checkbox"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                ثبت
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<div id="GalleryDeleteModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">حذف تصویر محصول</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="DeleteGallery" class="form-horizontal" role="form"
                          enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-begin="OnLoadingGallery"
                          data-ajax-complete="OnCompleteGallery"
                          data-ajax-failure="OnErrorGallery">
                        <input type="hidden" asp-for="Gallery.ProductId" class="productId"/>
                        <input type="hidden" asp-for="GalleryId" class="GalleryId"/>

                        <div class="form-group relative">
                            <h5>آیا از حذف تصویر محصول مورد نظر مطمئن هستید؟</h5>
                        </div>


                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-danger btn-round btn-block mb-2">
                                حذف گردد
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>
<!--End Gallery -->


<!--Start Feuture -->
<div id="SearchFeutureModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن ویژگی جدید</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="SearchFeuture" id="SearchFeutureForm" class="form-horizontal"
                          role="form" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-begin="OnLoadingFeuture"
                          data-ajax-complete="OnCompleteFeuture"
                          data-ajax-failure="OnErrorFeuture">


                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>دسته بندی اصلی</label>
                            <div class="form-group round">

                                <select class="form-control select2 curve" id="my-select">
                                    <option>انتخاب دسته بندی</option>
                                    <option>جستجوی از دسته بندی اصلی</option>
                                    @foreach (var item in Model.categuryObject.categuries)
                                    {
                                        <option value="@item.GroupId">@item.GroupTitle</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>جسنجوی دسته بندی </label>
                            <div class="form-group round">
                                <select class="form-control select2 curve" id="SubCategury" asp-for="CatId">
                                    @foreach (var item in Model.categuryObject.subCateguries)
                                    {
                                        <option value="@item.GroupId">@item.GroupTitle</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>جستجوی دسته بندی ویژگی ها</label>
                            <div class="form-group round">
                                <select class="form-control select2 curve" asp-for="propertyCatId">
                                    @foreach (var item in Model.categuryObject.propertyCategury)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="button" onclick="Filter()" class="btn btn-info btn-round btn-block mb-2">
                                جستجوی ویژگی
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>
                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">

                <div class="portlet-body w-100" style="">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="data-table2">

                            <thead>
                            <tr>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            </tr>

                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="AddEditFeutureModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">افزودن ویژگی جدید</h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="AddEditFeuture" class="form-horizontal" role="form"
                          enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-begin="OnLoadingAEFeuture"
                          data-ajax-complete="OnCompleteAEFeuture"
                          data-ajax-failure="OnErrorAEFeuture">

                        <input type="hidden" asp-for="AddFeutureInput.ProductId" class="productId">
                        <input type="hidden" asp-for="AddFeutureInput.Id" id="AddFeutureInput_Id">
                        <input type="hidden" asp-for="AddFeutureInput.PropertyId" id="AddFeutureInput_PropertyId">


                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <label>مقدار ویژگی</label>
                            <div class="form-group round">
                                <input class="form-control select2 curve" asp-for="AddFeutureInput.Value">
                            </div>
                        </div>


                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-info btn-round btn-block mb-2">
                                ثبت
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>

                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>
<div id="DeleteFeutureModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">حذف ویژگی </h4>

            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form method="post" asp-page-handler="DeleteFeuture" class="form-horizontal" role="form"
                          enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-begin="OnLoadingDeleteFeuture"
                          data-ajax-complete="OnCompleteDeleteFeuture"
                          data-ajax-failure="OnErrorDeleteFeuture">

                        <input type="hidden" asp-for="AddFeutureInput.Id" id="DeleteAddFeutureInput_Id">


                        <div class="col-md-12 col-lg-12 m-auto m-b-10">
                            <h5>آیا از حذف این ویژگی مطمئن هستید؟</h5>
                        </div>


                        <div class="col-md-8 col-lg-6 m-auto m-b-50">

                            <button type="submit" class="btn btn-red text-white btn-round btn-block mb-2">
                                حذف گردد
                                <div class="paper-ripple">
                                    <div class="paper-ripple__background"></div>
                                    <div class="paper-ripple__waves"></div>
                                </div>
                            </button>
                        </div><!-- /.col-md-8 -->
                    </form>

                </div><!-- /col-lg-12 -->
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--End Feuture -->

<!--FORMS-->

<input type="hidden" asp-for="productId" id="PId"/>

<form method="post" id="GetDataForm" asp-page-handler="Data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingData"
      data-ajax-complete="OnCompleteData"
      data-ajax-failure="OnErrorData">
    <input type="hidden" asp-for="productId" class="productId"/>
</form>

<form method="post" id="GetSubsForm" asp-page-handler="Subs"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="OnLoadingSub"
      data-ajax-complete="OnCompleteSub"
      data-ajax-failure="OnErrorSub">
    <input type="hidden" name="parentId" id="parentId"/>
</form>
<!--FORMS-->

@section Styles{
    <link href="~/shared/lib/shared/toast/toast.css" rel="stylesheet"/>
    <link href="~/Admin/plugins/data-table/DataTables-1.10.16/css/jquery.dataTables.css" rel="stylesheet">
}

@section Scripts {

    <script src="~/shared/lib/shared/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/shared/lib/shared/toast/toast.js"></script>
    <script src="~/shared/lib/shared/toast/mytoast.js"></script>

    <script src="~/Admin/plugins/data-table/js/jquery.dataTables.min.js"></script>
    <script src="~/shared/lib/admin/Products/EditContent.js"></script>
    @*<script src="https://cdn.ckeditor.com/4.21.0/full-all/ckeditor.js"></script>*@
    <script src="https://cdn.ckeditor.com/4.9.2/full-all/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('productContent', {
            language: 'fa',
            uiColor: '#daffd3',
        });
    </script>
    @* <script>
        //CKEDITOR.replace('editor');
        CKEDITOR.replace('Content', {
            language: 'fa',
            uiColor: '#daffd3',
            
        });
        var config = {};
    
    </script>*@
    <!-- END PAGE JAVASCRIPT -->
}