@model List<Parstech.Shop.Context.Application.DTOs.Categury.ParrentCateguryShowDto>
<div id="basicsAccordion" class="d-none d-xl-block">
    <!-- Card -->
    <div class="card border-0 py-3 position-static rtl">
        <div class="card-header bg-transparent card-collapse border-0 my-1 d-none d-xl-block" id="basicsHeadingOne">
            <button type="button" class="btn-link btn-block d-flex card-btn py-3 text-lh-1 px-0 shadow-none rounded-0 bg-transparent border-0 font-weight-bold text-gray-90"
                    data-toggle="collapse"
                    data-target="#basicsCollapseOne"
                    aria-expanded="true"
                    aria-controls="basicsCollapseOne">
                <span class="text-gray-90 font-size-15">دسته بندی محصولات <i class="ml-2 ec ec-arrow-down-search"></i></span>
            </button>
        </div>
        <div id="basicsCollapseOne" class="collapse vertical-menu v3 border-top-primary border-top border-width-2 rtl"
             aria-labelledby="basicsHeadingOne"
             data-parent="#basicsAccordion">
            @*<div class="card-body pr-5">*@
            <nav class="js-mega-menu navbar navbar-expand-xl u-header__navbar u-header__navbar--no-space hs-menu-initialized w-100">
                <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                    <ul class="navbar-nav u-header__navbar-nav">
                        @* <li class="nav-item u-header__nav-item"
                        data-event="hover"
                        data-position="right">
                        <a href="#" class="nav-link u-header__nav-link font-weight-bold">آخرین محصولات</a>
                        </li>
                        <li class="nav-item u-header__nav-item"
                        data-event="hover"
                        data-position="left">
                        <a href="#" class="nav-link u-header__nav-link font-weight-bold">بهترین محصولات</a>
                        </li>*@

                        @foreach (var parrent in Model)
                        {
                            <!-- Nav Item MegaMenu -->
                            <li class="nav-item hs-has-mega-menu u-header__nav-item"
                                data-event="hover"
                                data-animation-in="slideInUp"
                                data-animation-out="fadeOut"
                                data-position="left">
                                <a id="basicMegaMenu" class=" u-header__nav-link w-100" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                                    <span class="nav-link"><img width="20" class="ml-1" src="/Shared/Images/@parrent.Image" /> @parrent.GroupTitle</span>
                                </a>

                                <!-- Nav Item - Mega Menu -->
                                <div class="hs-mega-menu vmm-tfw u-header__sub-menu" aria-labelledby="basicMegaMenu">

                                    <div class="row u-header__mega-menu-wrapper">

                                        <div class="col-lg-3 col-md-6 col-xs-12  mb-sm-0">
                                            @foreach (var subParrent in parrent.Childs1)
                                            {
                                                <a class="u-header__sub-menu-title" href="/Products/@subParrent.LatinGroupTitle">
                                                    <div class=""><img width="15" class="ml-1" src="/Shared/Images/@subParrent.Image" /> @subParrent.GroupTitle</div>

                                                </a>
                                                <div class="row">
                                                    @foreach (var sub in subParrent.Childs)
                                                    {
                                                        <div class="col-12">
                                                            <a class="p-1 nav-link u-nav-divider font-weight-bold   flex-column align-items-start" href="/Products/@sub.LatinGroupTitle">
                                                                <div class="">@sub.GroupTitle</div>

                                                            </a>
                                                            
                                                        </div>
                                                        @foreach (var sub2 in sub.Childs)
                                                        {
                                                            <div class="col-12">
                                                                <a class="p-1 nav-link u-nav-divider   flex-column align-items-start" href="/Products/@sub2.LatinGroupTitle">
                                                                    <div class="">@sub2.GroupTitle</div>

                                                                </a>

                                                            </div>
                                                            
                                                        }
                                                    }
                                                </div>
                                            }
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-xs-12  mb-sm-0">
                                            @foreach (var subParrent in parrent.Childs2)
                                            {
                                                <a class="u-header__sub-menu-title" href="/Products/@subParrent.LatinGroupTitle">
                                                    <div class=""><img width="15" class="ml-1" src="/Shared/Images/@subParrent.Image" /> @subParrent.GroupTitle</div>
                                                    @*<div class="u-nav-subtext font-size-11 text-gray-30">@subParrent.LatinGroupTitle</div>*@
                                                </a>


                                                <div class="row">
                                                    @foreach (var sub in subParrent.Childs)
                                                    {
                                                        <div class="col-12">
                                                            <a class="p-1 nav-link u-nav-divider font-weight-bold   flex-column align-items-start" href="/Products/@sub.LatinGroupTitle">
                                                                <div class="">@sub.GroupTitle</div>

                                                            </a>

                                                        </div>
                                                        @foreach (var sub2 in sub.Childs)
                                                        {
                                                            <div class="col-12">
                                                                <a class="p-1 nav-link u-nav-divider   flex-column align-items-start" href="/Products/@sub2.LatinGroupTitle">
                                                                    <div class="">@sub2.GroupTitle</div>

                                                                </a>

                                                            </div>

                                                        }
                                                    }
                                                </div>
                                            }
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-xs-12  mb-sm-0">
                                            @foreach (var subParrent in parrent.Childs3)
                                            {
                                                <a class="u-header__sub-menu-title" href="/Products/@subParrent.LatinGroupTitle">
                                                    <div class=""><img width="15" class="ml-1" src="/Shared/Images/@subParrent.Image" /> @subParrent.GroupTitle</div>
                                                    @*<div class="u-nav-subtext font-size-11 text-gray-30">@subParrent.LatinGroupTitle</div>*@
                                                </a>
                                                <div class="row">
                                                    @foreach (var sub in subParrent.Childs)
                                                    {
                                                        <div class="col-12">
                                                            <a class="p-1 nav-link u-nav-divider font-weight-bold   flex-column align-items-start" href="/Products/@sub.LatinGroupTitle">
                                                                <div class="">@sub.GroupTitle</div>

                                                            </a>

                                                        </div>
                                                        @foreach (var sub2 in sub.Childs)
                                                        {
                                                            <div class="col-12">
                                                                <a class="p-1 nav-link u-nav-divider   flex-column align-items-start" href="/Products/@sub2.LatinGroupTitle">
                                                                    <div class="">@sub2.GroupTitle</div>

                                                                </a>

                                                            </div>

                                                        }
                                                    }
                                                </div>
                                            }
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-xs-12  mb-sm-0">
                                            @foreach (var subParrent in parrent.Childs4)
                                            {
                                                <a class="u-header__sub-menu-title" href="/Products/@subParrent.LatinGroupTitle">
                                                    <div class=""><img width="15" class="ml-1" src="/Shared/Images/@subParrent.Image" /> @subParrent.GroupTitle</div>
                                                    @*<div class="u-nav-subtext font-size-11 text-gray-30">@subParrent.LatinGroupTitle</div>*@
                                                </a>
                                                <div class="row">
                                                    @foreach (var sub in subParrent.Childs)
                                                    {
                                                        <div class="col-12">
                                                            <a class="p-1 nav-link u-nav-divider font-weight-bold   flex-column align-items-start" href="/Products/@sub.LatinGroupTitle">
                                                                <div class="">@sub.GroupTitle</div>

                                                            </a>

                                                        </div>
                                                        @foreach (var sub2 in sub.Childs)
                                                        {
                                                            <div class="col-12">
                                                                <a class="p-1 nav-link u-nav-divider   flex-column align-items-start" href="/Products/@sub2.LatinGroupTitle">
                                                                    <div class="">@sub2.GroupTitle</div>

                                                                </a>

                                                            </div>

                                                        }
                                                    }
                                                </div>
                                            }
                                        </div>

                                    </div>
                                    @if (parrent.BackImage != null)
                                    {
                                        <div>
                                            <img class="img-fluid" src="~/Shared/Images/@parrent.BackImage" alt="Image Description">
                                        </div>
                                    }

                                </div>
                                <!-- End Nav Item - Mega Menu -->
                            </li>
                            <!-- End Nav Item MegaMenu-->
                        }

                    </ul>
                </div>
            </nav>
            @*</div>*@
        </div>
    </div>
    <!-- End Card -->
</div>


<!-- ========== HEADER SIDEBAR ========== -->
<aside id="sidebarHeader" class="u-sidebar u-sidebar--right" aria-labelledby="sidebarHeaderInvoker">
    <div class="u-sidebar__scroller">
        <div class="u-sidebar__container">

            <div class="u-header-sidebar__footer-offset">
                <!-- Toggle Button -->
                <div class="d-sm-none position-absolute top-0 right-0 z-index-2 pt-4 pr-4 bg-white">
                    <button type="button" class="close ml-auto"
                            aria-controls="sidebarHeader"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-unfold-event="click"
                            data-unfold-hide-on-scroll="false"
                            data-unfold-target="#sidebarHeader"
                            data-unfold-type="css-animation"
                            data-unfold-animation-in="fadeInLeft"
                            data-unfold-animation-out="fadeOutLeft"
                            data-unfold-duration="500">
                        <span aria-hidden="true"><i class="ec ec-close-remove text-gray-90 font-size-20"></i></span>
                    </button>
                </div>
                <!-- End Toggle Button -->
                <!-- Content -->
                <div class="js-scrollbar u-sidebar__body rtl">
                    <div id="headerSidebarContent" class="u-sidebar__content u-header-sidebar__content" style="overflow:scroll;">
                        <!-- Logo -->
                        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center mr-5 mb-5 " href="/" aria-label="Parstech">
                            <img src="~/Shared/Images/logo.png">
                        </a>
                        <!-- End Logo -->
                        <!-- List -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/panel" class="text-black font-weight-bold"><i class="fas fa-user"></i>مشاهده پنل کاربری</a>
                        }
                        <hr class="dashed-hr" />
                            <a href="https://day.parstech.co" class="u-header-topbar__nav-link mt-2">فروش سازمانی بانک دی</a>
                        <hr class="dashed-hr" />
                        <a href="https://bmi.parstech.co" class="u-header-topbar__nav-link mt-2">فروش سازمانی بانک ملی ایران</a>
                        <hr class="dashed-hr" />
                        @* <a href="/CreditRequest" class="u-header-topbar__nav-link mt-2">درخواست اعتبار سازمانی ویژه همکاران</a>
                        <hr class="dashed-hr" /> *@
                        <a href="/ContactUs" class="u-header-topbar__nav-link mt-2">تماس با ما</a>
                        <hr class="dashed-hr" />
                        <a href="/AboutUs" class="u-header-topbar__nav-link mt-2">درباره ما</a>
                        <hr class="dashed-hr" />

                        <h6 class="font-weight-bold">دسته بندی محصولات</h6>
                        <ul id="sidebarNav" class="list-unstyled mb-0 sidebar-navbar">
                            @foreach (var parrent in Model)
                            {
                                var MenuId = $"sidebarNav1Collapse{parrent.GroupId}";
                                <li>
                                    <a class="dropdown-toggle dropdown-toggle-collapse dropdown-title" href="javascript:;"
                                       role="button" data-toggle="collapse" aria-expanded="false"
                                       aria-controls="@MenuId" data-target="#@MenuId">
                                        @parrent.GroupTitle
                                    </a>

                                    <div id="@MenuId" class="collapse" data-parent="#sidebarNav">

                                        <div id="sidebarNav1" class="card list-unstyled dropdown-list">
                                            <div class="card-body">
                                                <ul class="u-header-collapse__nav-list">
                                                    @foreach (var subParrent in parrent.Childs1)
                                                    {
                                                        <li><a href="/Products/@subParrent.LatinGroupTitle" class="u-header-sidebar__sub-menu-title">@subParrent.GroupTitle</a></li>

                                                        @foreach (var sub in subParrent.Childs)
                                                        {
                                                            <li class=""><a class="u-header-collapse__submenu-nav-link" href="/Products/@sub.LatinGroupTitle">@sub.GroupTitle</a></li>

                                                        }
                                                    }@foreach (var subParrent in parrent.Childs2)
                                                    {
                                                        <li><a href="/Products/@subParrent.LatinGroupTitle" class="u-header-sidebar__sub-menu-title">@subParrent.GroupTitle</a></li>

                                                        @foreach (var sub in subParrent.Childs)
                                                        {
                                                            <li class=""><a class="u-header-collapse__submenu-nav-link" href="/Products/@sub.LatinGroupTitle">@sub.GroupTitle</a></li>

                                                        }
                                                    }@foreach (var subParrent in parrent.Childs3)
                                                    {
                                                        <li><a href="/Products/@subParrent.LatinGroupTitle" class="u-header-sidebar__sub-menu-title">@subParrent.GroupTitle</a></li>

                                                        @foreach (var sub in subParrent.Childs)
                                                        {
                                                            <li class=""><a class="u-header-collapse__submenu-nav-link" href="/Products/@sub.LatinGroupTitle">@sub.GroupTitle</a></li>

                                                        }
                                                    }@foreach (var subParrent in parrent.Childs4)
                                                    {
                                                        <li><a href="/Products/@subParrent.LatinGroupTitle" class="u-header-sidebar__sub-menu-title">@subParrent.GroupTitle</a></li>

                                                        @foreach (var sub in subParrent.Childs)
                                                        {
                                                            <li class=""><a class="u-header-collapse__submenu-nav-link" href="/Products/@sub.LatinGroupTitle">@sub.GroupTitle</a></li>

                                                        }
                                                    }

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            }


                        </ul>







                        <!-- End List -->
                    </div>
                </div>
                <!-- End Content -->
            </div>
            <!-- Footer -->
            <footer id="SVGwaveWithDots" class="svg-preloader u-header-sidebar__footer">

                <div class="position-absolute right-0 bottom-0 left-0 z-index-n1">
                    <img class="js-svg-injector" src="~/Site/svg/components/wave-bottom-with-dots.svg" alt="Image Description"
                         data-parent="#SVGwaveWithDots">
                </div>

            </footer>
            <!-- End Footer -->
        </div>
    </div>
</aside>
<!-- ========== END HEADER SIDEBAR ========== -->